Body{
padding: 0%;

}
Header{
	text-align: center;
	background-color: white;
	border-width: thick;
	border-style: outset;;
	border-color: red;
	height: 45px;
	text-decoration-color: green;
	font-size: 25px;
	}
footer{
	background-color: white;
	border-width: thick;
	border-style: outset;;
	border-color: red;
	height: 45px;
	text-align: center;
	font-size: 25px;
}
#navigation{
padding: 5px;
--background-color: red;
margin-bottom: 0%;
margin-top: 100%;

}
.slider{
	height: 400px;
	width: 500px;
	border: 5px solid red;
	border-style:inset ;
	margin: 50px auto;
	overflow: hidden;
position: relative;

}

.img{
	position:absolute;
	height:400px;
	width:500px;
	animation: mm 15s infinite;
	opacity: 0;

}

@keyframes mm {
	10%{opacity: 2};
	20%{opacity: 1};
	30%{opacity: 0};
}

.img:nth-child(0){	animation-delay: 0s}
.img:nth-child(1){	animation-delay: 5s}
.img:nth-child(2){	animation-delay: 10s}
